<footer class="site-footer">


    <div class="wrapper">
            <div class="landlord">
                    <div class="message" style="opacity: 0"></div>
                    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
            </div>
              
        <p class="description">
            {% if site.description_footer %} {{site.description_footer}} {% endif %}
        </p>
        <p class="power">
            <span>
                Theme modified by Kapechen.
            </span>
        </p>
    </div>
    <script>
        var message_Path="/live2d/"
        var home_Path ="http://kkzhu119.github.io/"
    </script>
    <script src="../live2d/js/live2d.js"></script>
    <script src="../live2d/js/message.js"></script>
    <script>
        loadlive2d("live2d","/live2d/model/tia/model.json")
    </script>
</footer>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
